@page "/new-bug"

<h3>Add NewBug</h3>
<EditForm Model="AddBug">
  <input type="text" @bind-value="@AddBug.Title" placeholder="Enter title" />
  <input type="text" @bind-value="@AddBug.Description" placeholder="Enter description" />
  <input type="number" @bind-value="@AddBug.Priority" placeholder="Enter priority" />

  <button type="submit">Add Bug</button>
</EditForm>
@code {
  var AddBug = new Bug();
}
